html {
  background-image: url("/src/assets/images/car-animated.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}